body{
    /* height: 100%;
    width: 100%; */
    background-color: #D8ECDC;
}

* {
    font-family: 'Merriweather', serif;
   }


#all-container-main{
    overflow: hidden;
    width: 100%;
    position: absolute;
    float: none;
}
#checkedoff-ings-section{
    background-color: rgba(238, 238, 238, 0.907);
    width: 40%;
    height: 100%;
    bottom: 0%;
    position: absolute;
    display: inline-block; 
}


#checkedoff-ings-text-wrap{
    margin-top: 12%;
    margin-left: 3%;
}

#checkedoff-ings{
    width: 100%;
    position: relative;
    color:black;

}

#onee,
#ingredient-selection-section,
#category-section{
    background-color: white;
    width: 100%;
    position: relative;
    float:left; 
    bottom: 0;
}

#ingredient-search-section{

    background-color: white;
    position: relative;
    float:left; 
}

.navbar{
    list-style-type: none;
    margin: 0;
    margin-left: auto;
    background-color: #97DBAE;
    padding: 1.5%;
    display:inline-block;
    width: 100%;
}

.nav-item{
display:inline;
}

#circle-logo{
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    vertical-align:middle;
}

/* ---Sign-Up/LOGIN styles---*/
#reg-contents-wrapper,
#login-contents-wrapper
{
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    background-color:  #97dbae6e;
    border-radius: 12px;
    margin-top: 1%;
}

.join-message,
.login-message,
#user_form,
#user_form label,
input#username,
input#email,
input#password,
#select-prof-img
{
    width: 430px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#select-prof-img-options{
    display: inline-block;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#user-img-reg{
    margin-top: 10px;
    text-align: center;
    width: 90px; 
    height: 90px;
}
#user-img-reg-wrapper{
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    width: 90px; 
    height: 90px;
    display: inline-block;
    text-align: center;
}

#user-img-reg-selection-wrapper{
    width: 100px; 
    height: 120px;
    display: inline-block;
    text-align: center;
}

#sign-me-up-btn,
#login-page-login-btn{
    border-radius: 12px;    
    border: solid;
    border-width: 0.4px;
    margin-bottom: 1%;
    background-color: #ffdc5c;
    display: inline-block;
}

/* --- END of Sign-Up/Registration styles---*/



#logo{
    text-align:center;
    vertical-align:middle;
    font-size: 30px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    color: black;
}

#remove-ing{
    
    vertical-align:middle;
}

     

/* RECIPE RESULTS STYLING*/


#recipe-result-wrapper{
width: 100%;
display: grid;
grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
gap: 2%;
margin: 0 auto;
padding: 10px;
}


#each-recipe{
    background-color: #fde1d1e6;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.5vw;
    position: relative;
}

#recipe-img-wrapper{
    display: inline-block;
    width: 40%;
    border-radius: 10px;
    overflow: hidden;
}

#each-recipe img{
    width: 115%;
    height: 115%;
    border-radius: 10px;
    display: inline-block;
}
#recipe-title{
    display: inline;
    width: 58%;
    position: absolute;
    float: right;
    margin-left: 2%; 
    word-wrap: break-word;
}

#each-recipe a{
    position: relative;
    font-size: 1.5vw;
    display: block;
    margin-top: 1%;
    margin-bottom: 2%;
    
}

#recipe-using-ings{
    width: 45%;
    font-size: 1vw;
    display: inline;
    position: absolute;
}
#recipe-using-ings p,
#recipe-using-ings ul,
#recipe-using-ings li{
    margin: 0;
}

#recipe-what-to-get{
    width: 47%;
    float: right;
    margin-right: 5%;
    background-color: #ffdc5ccb;
    border-radius: 10px;
    font-size: 1vw;
    padding: 2%;
    display: inline;
}
#recipe-what-to-get p,
#recipe-what-to-get ul,
#recipe-what-to-get li
{
    margin: 0;
}

/* RECIPE RESULTS STYLING END*/


#searchresult{
    background: #ffdc5c;
    position: absolute;
    z-index: 10;
    width: 35%; 
    float:right;
}
#searchterm{
    width: 300px;
    border-radius: 12px;    
    border: none;
    background-color: rgba(238, 238, 238, 0.907);
}
button#search-ings{
    padding-top: 6px;
    background-color: transparent;
    border: none;
}
#exit-search-result{
    top: 20px;
    right: 20px;
    float:right;
    background-color: transparent;
    border: none;
}

button#faveiconbtn{
    background-color: transparent;
    border: none;
    color: #3e2214;
}

.category-btn,
#user-fave-buttonnn{
    height:100px;
    width:95px;
    border: none;
    border-radius: 12px;
    background-color: #97dbae6e;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin: 5.2px;
}

button#getrecipes{
    border-radius: 12px;    
    background-color: #ffdc5c;
    border: solid;
    border-width: 0.4px;
    display: inline-block;
    margin-bottom: 2%;
}

/* HOME PAGE STYLING */
#home-signup-btn,
#home-login-btn,
#ing-checklist-btn{
    width: 100%;
    border-radius: 10px;    
    border: solid;
    border-width: 0.4px;
    margin-bottom: 1%;
    background-color: #ffdc5c;
    padding: 3%;
}

#home-signup-btn p,
#home-login-btn p,
#ing-checklist-btn p{
    margin: 0;
    font-size: 1.1vw;
}



#home-left-div{
    float: left;
    position: relative;
    display: inline;
    width: 50%;
}

#heading-div{
    position: absolute;
    width: 50%;
}
#home-heading{
    font-size: 3.4vw;
    font-weight: 600;
    margin-left:14% ;
    margin-right: 0px;
    margin-top: 14%;
    position: relative;
    display: flex;
    width: 85%;
    margin-bottom: 5%;

}
#home-img{
    max-width: 100%;
    height: auto;
    position: absolute
}

#slogan-text{
    font-size: 1vw;
    font-weight: 100;
    margin-left:15% ;
    margin-right: 0px;
    position: relative;
    display: flex;
    width: 80%;
    margin-bottom: 3%;
}

#home-action{
    margin-left: 20% ;
    margin-top: 6%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#signup-login-action{
    display: flex;
    width: 40%;
    justify-content: center;
    position: relative;
    flex-direction: column;
    left: 0;
} 


#or-divider{
    flex: 20%;
    font-size: 1.2vw;
    display:flex;
    align-items: center;
    justify-content: center;
}

#cont-as-guest{
    display: flex;
    width: 40%;
    justify-content: center;
    position: relative;
    flex-direction: column;
    right: 0;

}

#home-how-it-works{
    margin-top: 45%;
    width: 100%;
    height: 160%;
    background: #D8ECDC;
    display: flex;
    position: absolute;
}

#how-it-works-title{
    font-size: 1.8vw;
    left: 5%;
    text-align: left;
    position: absolute;
    margin-top: -3%;
    margin-left: 5%;
}
#step1-wrapper,
#step2-wrapper,
#step3-wrapper{
    width: 35%;
    height: 20%;
    font-size: 1.3vw;
    position: relative;
    margin-left: 1%;
    margin-right: 1%;
    box-sizing: border-box; 
}
#img-step1,
#img-step2,
#img-result{
    max-width: 100%;
    height: auto;
    position: absolute;
    display: flex;
    top:0;
    margin-top: 6%;
    border-radius: 10px;
    margin-bottom: 2%;
}
#step1{
    width: 70%;
    margin-top: 73%;
    margin-left:11%;
    font-size: 1.1vw;
    text-align: center;
    position: absolute; 
}
#step2{
    width: 70%;
    margin-top: 20%;
    margin-left:13%;
    font-size: 1.1vw;
    text-align: center;
    position: absolute;
}
#step3{
    width: 70%;
    margin-top: 56%;
    font-size: 1.1vw;
    margin-left:15%;
    text-align: center;
    position: absolute;
}



#step4{
    width: 44%;
    font-size: 1.4vw;
    margin-right: 17%;
    text-align: center;
    position: absolute;
    top: 0;
    margin-top: 8%;
}

#step4-wrapper{
    top: 0;    
    display: flex;
    margin-top: 40%;
    position: absolute;
    padding: 1.5%;
    justify-content: center;
}

#img-step4{
    width: 75%;
}

#homeend-action{
    position: absolute;
    bottom: 0;
    margin-bottom: 8%;
    width: 40%;
}
#homeend-signup-btn{
    width: 30%;
    border-radius: 10px;    
    border: solid;
    border-width: 0.4px;
    margin-bottom: 1%;
    margin-left: 10%;
    background-color: #ffdc5c;
}

#homeend-signup-btn p{
    margin: 0;
    font-size: 1.1vw;
}


/* HOME PAGE STYLING END */


@media screen and (max-width: 768px) {
    #home-how-it-works {
      flex-direction: column; 
      display: flex;
      justify-content: center;
      align-items: center;
      height: 290%;
    }
    #how-it-works-title {
        position: absolute;
        top:0;
        margin-top: 0%;
    }
    
    #step1-wrapper{
        width: 60%; 
        height: auto;
        margin: 1% 0;
        box-sizing: border-box;
        position: absolute;
        top:0;
        margin-top: 0%;
    }
    #step2-wrapper{
        width: 60%; 
        height: auto;
        margin: 1% 0;
        box-sizing: border-box;
        position: absolute;
        top:0;
        margin-top: 64%;
    }
    #step3-wrapper{
        width: 60%; 
        height: auto;
        margin: 1% 0;
        box-sizing: border-box;
        position: absolute;
        top:0;
        margin-top: 132%;
    }
    
    #step1, 
    #step2, 
    #step3{
        font-size: 2.1vw;
    }

    #step4{
        font-size: 1.8vw;
    }

    
    #step4-wrapper{
        width: 90%; 
        height: auto;
        margin: 1% 0;
        box-sizing: border-box;
        position: absolute;
        top:0;
        margin-top: 202%;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    
    #img-step4{
        width: 100%;
    }
    
  }
  
  
  