{% extends 'base.html' %}
{% block title%} HOME  {% endblock %}
{% block content %}




{% if not session['current_user'] %}

<img id="home-img" src="/static/images/FastKitchenLadingImg.png"> 
  
        <div id="heading-div">
            <h1 id="home-heading">Your culinary compass, exploring tastes from your pantry!</h1>
            <h3 id="slogan-text">Discover the joy of effortless cooking as FastKitchen transforms your pantry checklist into quick, tasty recipes. Our recipe generator crafts mouthwatering dishes tailored uniquely to your kitchen supplies. Say goodbye to mealtime dilemmas and hello to a world of delicious possibilities!</h3>
            <div id="home-action">
                <div id="signup-login-action">
                    <form action="/signup">
                        <button id="home-signup-btn"><p> Sign Up</p> </button>
                    </form>

                    <form action="/login">
                        <button id="home-login-btn"><p>Login </p></button>
                    </form>
                </div>
                <div id="or-divider"> OR </div>
                <div id="cont-as-guest">
                    <form action="/ingredients">
                        <button id="ing-checklist-btn"><p>Continue As Guest</p> </button>
                    </form>
                </div>
            </div>
        </div>


    <div id="home-how-it-works">

            <h3 id="how-it-works-title">How it works:
            </h3>
            <div id="step1-wrapper">
                <img src="/static/images/step1_.png" id="img-step1">
                <p id="step1">Step 1:</br>
                    Begin by selecting the ingredients you have in your kitchen from our checklist. Choose from various categories or use our search function to find what you need.
                </p>
         
        </div>
            <div id="step2-wrapper">
                <img src="/static/images/step2_.png" id="img-step2">
                <p id="step2">Step 2: </br>
                    Once you've checked off your ingredients, click the "Get Recipes!" button. FastKitchen will work its magic and present you with a list of recipes using what you have on hand. 
                </p>
            </div>
           
            <div id="step3-wrapper">
                <img src="/static/images/step3_.png" id="img-result">
                    <p id="step3"> Get Cooking and Enjoy!</br>
                        Our easy to follow instructions will have you enjoying tasty recipes!
                    </p>
            </div>

            <div id="step4-wrapper">
                <img src="/static/images/step4_.png" id="img-step4">
                <p id="step4"> Enhance Your Kitchen Efficiency!</br>
                    Sign up and enjoy the benefits of "Your Favorites!"
                    Save your most-used ingredients to your account for quick access. 
                    Make cooking a breeze by having all your kichen essentials in one accessible location.
                    Simplify your cooking process and get delicious results with just a few clicks!
                </p> 
                <div id="homeend-action">
                <form action="/signup">
                    <button id="homeend-signup-btn"><p> Sign Up</p> </button>
                </form>
                </div>
            </div>
            
    </div>

{% endif %}


{% endblock %}